<div class="row">
  <% @restaurants.each do |restaurant| %>

    <div class="col-4 pb-3 border border-primary rounded d-flex flex-column align-items-center">
      <h2><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2>
      <% if restaurant.image.attached? %>
        <%= image_tag restaurant.image, size: 100 %>
      <% end %>
    </div>

  <% end %>
</div>
