<h2><%= @restaurant.name %></h2>

<% if @restaurant.image.attached? %>
  <%= image_tag @restaurant.image, size: 100 %>
<% end %>

<p><%= @restaurant.description %></p>

<div class="row">

  <% @restaurant.foods.each do |food| %>

    <div class="col-4 border border-grey rounded d-flex flex-column align-items-center">
      <p><%= food.name %></p>

      <% if food.image.attached? %>
        <%= image_tag food.image, size: 100 %>
      <% end %>

      <p><%= food.desc %></p>
    </div>

  <% end %>

</div>
